.__main_container {
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.__txt_hero {
  font-family: 'Fredoka', sans-serif;
  font-size: 6.5rem;
  line-height: 1.2;
  color: var(--brown-dark);
  text-align: center;
}

.btn__login {
  background-color: var(--green);
  padding: 10px 25px;
  color: white;
  font-size: 2rem;
  font-family: 'Varela Round', sans-serif;
  border: none;
  border-radius: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
}

.btn__login:hover {
  background-color: #0a8b49;
}



@media screen and (min-width: 481px) {
  .__txt_hero {
    font-size: 6rem;
  }

  
}

@media screen and (min-width: 769px) {
  .__main_container {
    height: 400px;
  }
  .__txt_hero {
    font-size: 8rem;
  }

  
}