@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600&display=swap');
/* 1rem = 10px */
:root {
  --txt-black: #555;
  --white: #ffffff;
  --green-bg: #d3e5d1;
  --brown-light: #A67B51;
  --brown-dark: #613B16;
  --min-resolution: 481px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--txt-black);
  background-color: var(--green-bg);
}