.__bg_main {
  background: white;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.__txt_about {
  font-size: 2rem;
  font-family: 'Varela Round', sans-serif;
  line-height: 1.6;
  margin-top: 2rem;
}

.__txt_highlight {
  color: var(--green);
}

.__img_hero {
  width: 350px;
}


@media screen and (min-width: 481px) {
  .__bg_main {
    padding: 2rem 6rem;
  }
}

@media screen and (min-width: 769px) {
  .__bg_main {
    padding: 2rem 6rem;
    flex-direction: row;
    /* align-items: start; */
  }

  .__txt_about {
    font-size: 2.5rem;
  }

  .__img_hero {
    width: 500px;
  }
}